@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  cursor: pointer;
  position: fixed;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  top: 3rem;
  right: 3rem;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  text-align: center; }

.navigation__background {
  position: fixed;
  top: 3.2rem;
  right: 3.2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#ee0979, #ff6a00);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: -1; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__bar {
  opacity: 1;
  width: 100%; }

.navigation__bar {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none; }

.navigation__item {
  margin: 2rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%; }

.navigation__link:hover, .navigation__link:active {
  transform: translateX(1rem);
  background-position: 100%;
  color: #ee0979; }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.2rem;
    background-color: #000;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }
